body {
  font-family: Times New Roman;
  padding: 20px;
  background-color: aqua;
}

.language-suggester {
  margin: 5px;
  padding: 10px;
}

label,
select,
button {
  margin: 5px;
}

button {
  background: grey;
  color: black;
}
