body {
  font-family: Arial;
  background: purple;
  padding: 20px;
}

.language-suggester {
  max-width: 300px;
  margin: 5%;
  background: black;
  padding: 10px;
}

label, select, button {
  margin: 5px;
}

button {
  background: grey;
  color: black;
}

.hidden {
  display: none;
}
